<!--
Source code adapted from:
https://github.com/swagger-api/swagger-ui/blob/31a8b137772a5242eb14db80dbc943c3dffd5fcb/dist/index.html
-->

<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="/api/swagger/swagger-ui.css" >
    <link rel="icon" type="image/png" href="./favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="/api/swagger/assets/swagger_main.css"/>
  </head>

  <body>
    <div id="swagger-ui"></div>

    <script src="/api/swagger/swagger-ui-bundle.js"> </script>
    <script src="/api/swagger/swagger-ui-standalone-preset.js"> </script>
    <script src="/api/swagger/assets/swagger_main.js"> </script>
  </body>
</html>
